body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(4, 68, 4);
    color: white;
    text-align: center;
}

.card {
    border-color:rgb(4, 68, 4);
}

.card-body {
    background-color: rgb(255, 255, 255);;
}

.card-header {
    background-color:rgb(4, 68, 4);
    color: white;
}

button,
.btn.btn-default {
    background-color: rgb(4, 68, 4);
    color: white;
}

/* over-ride bootstrap defaults */
.btn.btn-defaut:hover,
.btn.btn-default:active,
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    color: white !important;
    font-weight: bold;
}

/* style for populated list from local storage */
.list-group-item {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
}

/* style for UVI */
.low {
    background-color: green;
    padding: 3px;
    border-radius: 5px;
}

.mod {
    background-color: orange;
    padding: 3px;
    border-radius: 5px;
}

.high {
    background-color: red;
    padding: 3px;
    border-radius: 5px;
}

/* adding border for forecast cards */
.col-sm {
    border-color:rgb(4, 68, 4);
}